<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Books</title>
</head>
<body>
<h1>Category Books</h1>
<a href="/category-books/new">Thêm sách mới</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Thể loại</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoryBook : ${categoryBooks}">
        <td th:text="${categoryBook.cateBookId}"></td>
        <td th:text="${categoryBook.cateBookName}"></td>
        <td>
            <a th:href="@{/category-books/{id}(id=${categoryBook.cateBookId})}">Xem chi tiết</a>
            <a th:href="@{/category-books/{id}/edit(id=${categoryBook.cateBookId})}">Sửa</a>
            <a th:href="@{/category-books/{id}/delete(id=${categoryBook.cateBookId})}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>